#
# silverblue-update
# Copyright (c) 2022 Tony Walker
#

[Unit]
Description=Daily Fedora Silverblue Update Timer
ConditionPathExists=/run/ostree-booted

[Timer]
OnBootSec=5m
OnUnitActiveSec=20hr
RandomizedDelaySec=4h

[Install]
WantedBy=timers.target
